@import './tailwind.css';

body { background: var(--bg-alt); }

#app {
  background: var(--bg);
  min-height: 100%;
  max-width: 400px;
}

.app-content {
  @apply flex flex-col gap-4 px-4;
}

.task-row {
  @apply items-center flex-wrap;
  .form-group {
    @apply flex gap-4 items-center;
    label {
      flex-basis: 60px;
    }
    [type=number] {
      width: 64px;
    }
    &:last-child {
      @apply mb-0;
    }
  }
  .ur-form {
    @apply border-t pt-4 mt-2;
    width: 100%;
  }
  &__display {
    @apply flex flex-grow flex-col justify-between;
  }
  .fa-2x, .unrest-dropdown .fa {
    line-height: 1;
  }
  .ur-dropdown .btn.-light {
    @apply py-0;
    .fa {
      font-size: 1.5rem;
    }
  }
}
